tr, td , th, table {
    border: 1px solid rgb(47, 184, 29);
    border-radius: 15px;
    border-spacing: 0px;
}
 tr td[colspan="2"] {
    text-align:center;
}
th [colspan="5"] {
    text-align:center;
}

#Bordure {
    border-collapse: collapse;
}

tr:nth-child(3) {
     background-color: purple
}

.bonjour tr td{
    background-color: red
}

#animal:hover {
    cursor: pointer;
}