tr, td , th, table {
    border: 1px solid rgb(47, 184, 29);
}
 tr td[colspan="2"] {
    text-align:center;
}
th [colspan="5"] {
    text-align:center;
}

#Bordure {
    border-collapse: collapse;
}

tr:nth-child(odd) {
     background-color: purple
}